$header-height: 40px;
$nav-color: #8c8c8c;

$hover_1: #F38181;
$hover_2: #FCE38A;
$hover_3: #95E1D3;
$hover_4: #ab72b9;
$hover_5: #539ddb;

header {
  position: fixed;
  z-index: 3;
  top:0;
  left: 0;
  width: 100%;
  height: $header-height;
  background-color: white;
  box-shadow: 0 5px 10px 0 rgba(0,64,128,0.1);
}

nav {
  margin: 0 1%;
  > a {
    color: $nav-color;
    padding: 9.3px 10px 8px 9px;
    display: inline-block;
    text-decoration: none;
    transition: color 0.25s ease-in-out;

    &:nth-child(1):hover {
      color: $hover_1;
      border-bottom: 4px solid $hover_1;
    }
    &:nth-child(2):hover {
      color: $hover_2;
      border-bottom: 4px solid $hover_2;
    }
    &:nth-child(3):hover {
      color: $hover_3;
      border-bottom: 4px solid $hover_3;
    }

    &:nth-child(4):hover {
      color: $hover_4;
      border-bottom: 4px solid $hover_4;
    }

    &:nth-child(5):hover {
      color: $hover_5;
      border-bottom: 4px solid $hover_5;
    }
  }
}

.nav-auth{
  float: right;
}
.nav-user {
  float: right;
  padding-top: 2px;
  > a > img {
    width: 34px;
    margin-right: 10px;
    border-radius: 3px;
  }
  > div {
    display: inline-block;
    margin-top: 5px;
    float: inherit;

    a {
      font-size: 13.5px;
      color: $nav-color;
      display: block;
      text-decoration: none;
      &:hover {
        color: $hover_4;
      }
    }
  }
}
.reactCreateBtn {
  display: none;
}

@media (max-width: 768px) {
  .createBtn, .adminBtn, .reactExtractBtn{
    display: none;
  }
  .reactCreateBtn {
    display: inline-block;
  }
}

