@import '../layout/base';

$ROWHEIGHT: 45px;

html {
  overflow: hidden;
}

body {
  overflow: hidden;
  background: linear-gradient(to left top, #daffea, #eaf0ff);
}

.main {
  padding: 15% 0 0 0;
}

#signin-box {
  width: 250px;
  margin: auto;

  a {
    display: flex;
    text-decoration: none;
    border-radius: 7px 5px 5px 7px;
    margin-bottom: 11px;
    padding-bottom: 1px;

    img {
      height: $ROWHEIGHT;
      width: $ROWHEIGHT;
    }
    span {
      line-height: $ROWHEIGHT;
      padding-left: 20px;
      font-size: 16px;
    }

    &:nth-child(1) {
      background: linear-gradient(to right, #ffdf76, #ffffcd);
      color: #cd201f;
      animation-delay: 0.2s;
    }
    &:nth-child(2) {
      background: linear-gradient(to right, #000, #676767);
      color: white;
      animation-delay: 0.28s;
    }
    &:nth-child(3) {
      background: white;
      color: gray;
      animation-delay: 0.35s;
    }
    &:nth-child(4) {
      background: linear-gradient(to right, #365189, #6686c8);
      color: white;
      animation-delay: 0.4s;
    }

    animation-name: iconAnim;
    animation-fill-mode: backwards;
    animation-duration: 0.15s;

    @keyframes iconAnim {
      0% {
        opacity: 0;
        transform: scale(1.05);
      }
    }

    box-shadow: 0 2px 3px 0.6px #d9d9d9;
    transition: box-shadow 0.3s ease-in-out;
    &:hover {
      transition: box-shadow 0.4s;
      box-shadow: 0 4px 17px 3px #cccccc;
    }
  }
}

.errorTxt {
  color: red;
  font-size: 17px;
  margin-bottom: 10px;
}

.desc {
  width: 235px;
  margin: 45px auto 0 auto;
  color: #6373a1;
  font-size: 15px;
  li {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .main {
    padding-top: 28%;
  }
  #signin-box {
    width: 210px;
    & > a > span {
      font-size: 11px;
    }
  }
}
