@import '../layout/base';

body {
    background: linear-gradient(to left top, rgb(247, 187, 151), rgb(221, 94, 137));
}

main {
    padding-top: 15%;
}

#signin-box {
  width: 260px;
  margin: auto;
  background-color: white;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);

  animation-name: boxAnim;
  animation-fill-mode: backwards;
  animation-duration: .3s;
  animation-delay: 0.15s;

  @keyframes boxAnim {
    0% {
      opacity: 0;
    }
  }

  a {
    text-decoration: none;
    display: inline-block;
    margin-right: 12px;

    animation-name: iconAnim;
    animation-fill-mode: backwards;
    animation-duration: .6s;
    animation-delay: 1s;
    filter: grayscale(100%);
    transition: filter 0.25s ease-in-out;

    @keyframes iconAnim {
      0% {
        opacity: 0;
        transform: scale(0);
      }
    }
    &:hover {
      filter: none;
    }
  }

  div:nth-child(1){
    width: 200px;
    margin: 25px auto;
  }

  div:nth-child(2){
    color: #757575;
    font-size: 15px;
    li {
      font-size: 13px;
    }
  }
}

.errorTxt{
  color: red;
}