@import '../layout/base';

body {
    background: linear-gradient(to left top, rgb(247, 187, 151), rgb(221, 94, 137));
}

main {
    padding-top: 300px;
    > div {
      width: 200px;
      margin: auto;
      background-color: white;
      padding: 40px;
      border-radius: 5px;
      box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);

      animation-name: boxAnim;
      animation-fill-mode: backwards;
      animation-duration: .3s;
      animation-delay: 0.15s;

      @keyframes boxAnim {
        0% {
          opacity: 0;
        }
      }

      a {
        text-decoration: none;
        display: inline-block;
        padding: 0 5px 6px 5px;

        animation-name: iconAnim;
        animation-fill-mode: backwards;
        animation-duration: .5s;
        animation-delay: 0.5s;

        @keyframes iconAnim {
          0% {
            opacity: 0;
            transform: scale(0);
          }
        }
      }
    }

  .errorTxt{
    color: red;
  }
}
