$box-padding: 7px;
$box-padding-mobile: 4px;
$color-radius: 4px;

.box {
  width: 206px;
  background-color: white;
  //border: 1px solid blue;
  border-radius: 4px;
  padding: $box-padding;
  margin: 11px 10px;

  box-shadow: 0 2px 3px 0.6px #d9d9d9;
  transition: box-shadow 0.3s ease-in-out;

  animation-name: fadeInAnim;
  animation-fill-mode: backwards;
  animation-duration: 200ms;
  @keyframes fadeInAnim {
    0% { opacity: 0;}
  }

  &:hover {
    transition: box-shadow 0.4s;
    box-shadow: 0 3px 17px 2px #cccccc;
  }

  .canvas {
    height: 230px;
    cursor: pointer;

    > div {
      animation-name: barMove;
      animation-fill-mode: backwards;
      animation-duration: 1.4s;
      animation-timing-function: cubic-bezier(0, 1, 0, 1);

      @keyframes barMove {
        0% { height: 0;}
      }

      > span {
        color: white;
        cursor: text;
        background-color: rgba(110, 110, 110, 0.4);
        padding: 4px 9px;
        display: inline-block;
        opacity: 0;
        border-radius: 0 0 4px 0;
        transition: opacity 0.3s ease-in;
        text-transform: uppercase;
      }

      &:hover > span{
        opacity: 1;
      }

      &:nth-child(1){
        border-radius: $color-radius $color-radius 0 0;
        height: 39%;
      }
      &:nth-child(2){
        height: 25%;
      }
      &:nth-child(3){
        height: 18%;
      }
      &:nth-child(4){
        border-radius: 0 0 $color-radius $color-radius;
        height: 18%;
      }
    }
  }

  button {
    margin-top: $box-padding;
    img {
      width: 17px;
      height: 17px;
      vertical-align: middle;
      margin-right: 5px;
      margin-top: -4.5px;

      animation-name: btnAnim;
      animation-fill-mode: backwards;
      animation-duration: .6s;
      //animation-delay: .4s;

      @keyframes btnAnim {
        0% {
          opacity: 0;
          transform: scale(0);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .box {
    width: 142px;
    margin: 6px 4px;
    padding: $box-padding-mobile;
    border-radius: 3px;
    .canvas {
      height: 160px;
    }
    button {
      margin-top: $box-padding-mobile;
      img {
        width: 14px;
      }
    }
  }
}

@media (max-width: 321px) {
  .box {
    width: 117px;
    margin: 6px 4px;
    padding: $box-padding-mobile;
    border-radius: 3px;
    .canvas {
      height: 175px;
    }
    button {
      margin-top: $box-padding-mobile;
      img {
        width: 14px;
      }
    }
  }
}
