<header>
    <nav>
        <a href="/popular">Popular</a>
        <a href="/latest">Latest</a>

        {% if path != '/new' %}
            <a href="/new" class="createBtn">Create</a>
        {% endif %}

        {% if user.isadmin and path != '/admin' %}
            <a href="/admin" class="adminBtn">Admin</a>
        {% endif %}

        <a href="http://react.colorpk.com/extract" target="_blank" class="reactExtractBtn">Extract</a>
        <a href="http://react.colorpk.com/new" target="_blank" class="reactCreateBtn">Create</a>
        {% if path == '/signin' %}
            <a href="//www.javascript.fun/about" target="_blank" class="nav-auth">About</a>
        {% else %}
            {% if user %}
                <div class="nav-user-txt">
                    <a href="/profile">{{ user.name }}</a>
                    <a href="/signin">Sign out</a>
                </div>
                <a class="nav-user-link" href="/profile">
                    <img src="{{ user.img }}" title="Profile" alt="icon" />
                </a>
            {% else %}
                <a href="/signin" class="nav-auth">Sign In</a>
            {% endif %}
        {% endif %}
    </nav>
    <div style="clear: both;"></div>
</header>