{% load static %}
<head>
    {% if path == '/popular' %}
        <title>Popular | ColorPK | Color Palette for Designer and Developers</title>
    {% elif path == '/latest' %}
        <title>Latest | ColorPK | Color Palette for Designer and Developers</title>
    {% elif path == '/new' %}
        <title>Create Color | ColorPK | Color Palette for Designer and Developers</title>
    {% elif path == '/signin' %}
        <title>Sign In | ColorPK | Color Palette for Designer and Developers</title>
    {% elif path == '/admin' %}
        <title>Admin Panel | ColorPK | Color Palette for Designer and Developers</title>
    {% elif path == '/profile' %}
        <title>My Profile | ColorPK | Color Palette for Designer and Developers</title>
    {% else %}
        <title>ColorPK | Color Palette for Designer and Developers</title>
    {% endif %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="robots" content="INDEX,FOLLOW"/>
    <meta name="keywords" content="ColorPK, colorhunt" />
    <meta name="description" content="ColorPK | Faster lighter and nicer than colorhunt." />
    <link rel="stylesheet" type="text/css" href="{% static assetName %}.css?{{ version }}">
    <link rel="shortcut icon" href="//dkny.oss-cn-hangzhou.aliyuncs.com/3/fav.ico" />
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5LX6LV3');
    </script>
</head>