<header>
    <nav>
        <a href="/popular">Popular</a>
        <a href="/latest">Latest</a>

        {% if path != '/newcolor' %}
            <a class="createBtn" href="/newcolor">Create</a>
        {% endif %}

        {% if user.isadmin and path != '/admin' %}
            <a class="adminBtn" href="/admin">Admin</a>
        {% endif %}

        <a class="reactBtn" href="http://react.colorpk.com/extract" target="_blank">Extract</a>

        {% if path != '/signin' %}
            {% if user %}
                <div class="nav-user">
                    <a href="/profile">
                        <img src="{{ user.img }}" title="Profile" alt="icon" />
                    </a>
                    <div>
                        <a href="/profile">{{ user.name }}</a>
                        <a href="/signin">Sign out</a>
                    </div>
                </div>
            {% else %}
                <a href="/signin" class="nav-auth">Sign In</a>
            {% endif %}
        {% endif %}
    </nav>
    <div style="clear: both;"></div>
</header>