{% load static %}
<head>
    <title>
      {% if path == '/popular' %}
        Popular
      {% elif path == '/latest' %}
        Latest
      {% elif path == '/new' %}
        Create Color
      {% elif path == '/signin' %}
        Sign In
      {% elif path == '/admin' %}
        Admin Panel
      {% elif path == '/profile' %}
        My Profile
      {% else %}
        Welcome
      {% endif %}
      | ColorPK 
      | Color Palette for Designer and Developers
      | 颜色搭配
      | 色彩组合
      | 艺术设计
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="robots" content="INDEX,FOLLOW"/>
    <meta name="keywords" content="ColorPK, colorhunt" />
    <meta name="description" content="ColorPK | Faster lighter and nicer than colorhunt | 全球最大色彩搭配网站 | 颜色搭配 | 艺术设计" />
    <link rel="stylesheet" type="text/css" href="{% static assetName %}.css?{{ version }}">
    <link rel="shortcut icon" href="//dkny.oss-cn-hangzhou.aliyuncs.com/3/fav.ico" />
    <script>
      if(window.location.hostname.indexOf('colorpk.com') > -1){
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-5LX6LV3');

        window.addEventListener('_COLORPK_SCRIPT_READY', function(){
          window.dataLayer.push({
            'scriptLoadingTime': Date.now() - window._colorpk.load0
          });
        });
      }
    </script>
</head>