<div class="help">
  <p>
    Dear ColorPK User: <br />
    You've just found the best ColorPicker. It is free, fast and more
    importantly, open-source. So, welcome!<br />
    Feel free to fiddle out whatever <em>Color Palette</em> in your mind, and
    share with others. <br />
    It is a Social Platform after all :)
    <a href="javascript:_colorpk.removeWelcome()" style="margin-left: 13px; display: none;"
      >Dismiss</a
    >
    <br /><br />
    For multilingual support, please go to
    <a href="//react.colorpk.com" target="_blank">
      <em>
        ColorPK version 1
      </em>
    </a>
  </p>
</div>
