<div class="help">
    <p>
        Dear ColorPK User: <br>
        You've just found the best ColorPicker.
        So, welcome!<br>
        Feel free to fiddle out whatever palette in your mind,
        and share with others. <br>
        It is a Social Platform after all :)
        <a href="javascript:_colorpk.removeWelcome()" style="margin-left: 13px;">Dismiss</a>
        <br /><br />
        The <a href="//react.colorpk.com">Old Version</a> ColorPK will be operational until further notice
    </p>
</div>