@import '../shared/button';
@import '../box/style';
@import '../layout/base';

.main {
  background: #f8fcff;
}

.list{
  margin: 0 auto;
  //border: 1px solid red;
  min-height: 600px;
  .box {
    display: inline-block;
  }
}

.help {
  display: none;
  margin: auto;
  border-radius: 3px;
  border: 1px solid #b7eb8f;
  background-color: #f6ffed;
  padding: 0;
  color: #747474;

  p {
    margin: 15px 17px;
    line-height: 19px;
    font-size: 13px;
  }
}
