@import '../shared/button';
@import '../layout/base';
@import '../box/style.scss';

$TOGGLECOLOR: #A5DC86;

body {
  background: #f9f8ff;
}

.main {
  padding-top: 90px;
  .list{
    margin: 0 auto;
    .box {
      display: inline-block;
    }
  }
}

.switch-field {
  width: 191px;
  height: 30px;
  margin: 0 auto;
  //border: 1px solid red;
  input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;

    &:checked + label {
      background-color: $TOGGLECOLOR;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }

  &>label {
    float: left;
    display: inline-block;
    width: 65px;
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    text-shadow: none;
    padding: 6px 14px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    transition: all 0.1s ease-in-out;

    &:hover {
      cursor: pointer;
    }

    &:first-of-type {
      border-radius: 4px 0 0 4px;
    }

    &:last-of-type {
      border-radius: 0 4px 4px 0;
    }
  }
}
