{% extends "base.html" %}

{% block mainContent %}
    <h3>Create a Color Palette:</h3>

    <div class="canvas">
        <button class="jscolor" data-jscolor="{onFineChange: '_cpOnColorChange(this)', valueElement: null, position:'right'}"></button>
        <button class="jscolor" data-jscolor="{onFineChange: '_cpOnColorChange(this)', valueElement: null, position:'right'}"></button>
        <button class="jscolor" data-jscolor="{onFineChange: '_cpOnColorChange(this)', valueElement: null, position:'right'}"></button>
        <button class="jscolor" data-jscolor="{onFineChange: '_cpOnColorChange(this)', valueElement: null, position:'right'}"></button>
    </div>

    <div class="btnGrp">
        <label for="colorText">#</label>
        <input id="colorText" type="text">
        <br><br>

        <button id="createBtn" class="btn btn-primary" style="margin-right: 7px;">
            Create
        </button>
        <button id="resetBtn" class="btn">
            Reset
        </button>
    </div>

    <script>
        window._colorpk = {
          defaultColors: '{{ defaultValue }}'
        };
    </script>
{% endblock %}