{% extends "base.html" %}


{% block mainContent %}
    <div class="list">
        {% for oneBox in list %}
        <div class="box"
             data-k="{{ oneBox.id }}"
             data-v="{{ oneBox.color }}"
             data-l="{{ oneBox.like }}"
        >
            <div class="canvas">
                {% for oneColor in oneBox.canvas %}
                    <div style="background-color: {{ oneColor }}">
                        {{ oneColor }}
                    </div>
                {% endfor %}
            </div>
            <button type="button">
                <img src="/static/hrt.svg" alt="hrt.img">
                <span>
                    {{ oneBox.like }}
                </span>
            </button>

        </div>
        {% endfor %}
    </div>

{% endblock %}