{% extends "base.html" %}

{% load static %}
{% block mainContent %}
    <div class="container">
        <a id="download" download="colorpk_{{ oneColor.id }}.png">
            <button class="btn btn-primary" type="button">
                Download
            </button>
        </a>
        <p>
            {{ oneColor.username }},
            <br>
            {{ oneColor.createdate }}
        </p>
    </div>
    <script>
        window._colorpk = {
          staticPath: '{% static "" %}',
          selected: {
            id: {{ oneColor.id }},
            color: '{{ oneColor.color }}',
            like: {{ oneColor.like }},
            isLiked: '{{ oneColor.isLiked }}' === 'True'
          }
        };
    </script>
{% endblock %}