{% extends "base.html" %}

{% load static %}
{% block mainContent %}
    <div class="container">
        <a id="download" download="colorpk_{{ id }}.png">
            <button class="btn btn-primary" type="button">
                Download
            </button>
        </a>
        <p>
            {{ username }}, {{ createdate }}
        </p>
    </div>
    <script>
        window._colorpk = {
          selected: {
            id: {{ id }},
            color: '{{ color }}',
            like: {{ like }}
          }
        };
    </script>

    <script src="{% static "bundle3.js" %}"></script>
{% endblock %}