{% extends "base.html" %}

{% load static %}
{% block mainContent %}
    <div class="switch-field">
      <input type="radio" id="switch_left" name="swt" value="0" checked/>
      <label for="switch_left">Portfolio</label>
      <input type="radio" id="switch_right" name="swt" value="1" />
      <label for="switch_right">Like</label>
    </div>
    <div style="clear: both;"></div>
    <br>

    <div class="list"></div>
    <script>
        window._colorpk = {
          staticPath: '{% static "" %}',
          user: '{{ user.id }}',
          list0: [
            {% for oneBox in list0%}{"id": {{oneBox.id}},"color": "{{oneBox.color}}","like": {{ oneBox.like }}},{% endfor %}
          ],
          list1: [
            {% for oneBox in list1%}{"id": {{oneBox.id}},"color": "{{oneBox.color}}","like": {{ oneBox.like }}},{% endfor %}
          ],
        };
    </script>
{% endblock %}