{% extends "base.html" %}

{% load static %}
{% block mainContent %}
    <div id="signin-box">
        <div>
            <a href="{{ wb }}">
                <img src="{% static "wb.png" %}" title="微博" alt="微博">
            </a>
            <a href="{{ gh }}">
                <img src="{% static "gh.png" %}" title="Github" alt="Github">
            </a>

            <br>

            <a href="{{ gg }}">
                <img src="{% static "gg.png" %}" title="Google" alt="Google">
            </a>
            <a href="{{ fb }}">
                <img src="{% static "fb.png" %}" title="Facebook" alt="Facebook">
            </a>
            {% if error %}
                <div class="errorTxt">
                    {{ error }}
                </div>
            {% endif %}
        </div>

        <div>
            After Login, you will be able to:
            <ul>
                <li>Publish palette directly</li>
                <li>Endorse your color</li>
                <li>Sync your likes/colors on the cloud</li>
            </ul>
        </div>
    </div>
{% endblock %}