<!DOCTYPE html>
<html>

<head>
  <title>Statement | ColorPK</title>
  <style>
    @import url('https://fonts.googleapis.com/css?family=Nunito:200');

    h1,
    h2,
    h3,
    h4,
    h5,
    p,
    span,
    li,
    div,
    button,
    footer,
    a,
    label,
    input {
      font-family: 'Nunito', sans-serif;
    }
  </style>
  <script>
    if (window.location.hostname.indexOf('colorpk.com') > -1) {
      (function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
          'gtm.start':
            new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-5LX6LV3');
    }
  </script>
</head>

<body>
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5LX6LV3" height="0" width="0"
      style="display:none;visibility:hidden"></iframe>
  </noscript>
  <h1>ColorPK.com Statement</h1>
  <h2>Last updated: Aug 30, 2020</h2>
</body>

</html>
