@import '../shared/button';
@import '../layout/base';
@import '../box/style.scss';

body {
  background: linear-gradient(to left top, #f0f0f0, #ffffff);
  overflow: hidden;
}

.main {
  padding-top: 100px;
  .container {
    p {
      color: #868686;
    }
    &>.box {
      margin: 0 auto;
      width: 206px;
    }
  }
}

#download, p {
  text-align: center;
  display: block;
  margin: 20px 0;
}

@media (max-width: 768px) {
  .main .container>.box {
    width: 142px;
  }
}
@media (max-width: 321px) {
  .main .container>.box {
    width: 117px;
  }
}
