//source: https://codepen.io/dhanushbadge/pen/olsvi?limit=all&page=3&q=menu
$header-height: 41px;
$nav-color: #30A6E6;
$nav-color-hover: #afe3ff;

header {
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: $header-height;
  background-color: white;
  box-shadow: 0 5px 10px 0 rgba(0,64,128,0.1);
}

nav {
  ul, li {
    margin: 0;
	padding: 0;
  }
  ul {
	list-style: none;
	width: 100%;
  }
  li {
    float: right;
	position: relative;

    &:hover >a {
      color: $nav-color-hover;
    }

    &:hover ul.submenu {
      opacity: 1;
      transform: scaleY(1);
      top: 40px; /* adjust this as per top nav padding top & bottom comes */
    }
  }

  a {
	color: $nav-color;
	display: block;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
  }
}

.submenu {
  left: 0;
  top: -2px; // dropdown animation starting location
  opacity: 0;
  position: absolute;
  box-shadow: 0 5px 8px 2px #cccccc;
  z-index: 2;
  transform: scaleY(0);
  transition: transform .28s ease-out, top .28s ease-out;

  li {
    width: 100%;
  }
  a {
    background-color: white;
    &:hover {
      background-color: $nav-color;
      color: white;
    }
  }
}