$btn-color: #56a5f7;

.btn {
  padding: 4.5px 12px;
  border: 1px solid #d9d9d9;
  background-color: white;;
  cursor: pointer;
  border-radius: 4px;
  color: #919191;
  font-size: 15px;

  //animation-name: btnAnim;
  //animation-fill-mode: backwards;
  //animation-duration: .3s;
  //animation-delay: .42s;
  //
  //@keyframes btnAnim {
  //  0% {
  //    opacity: 0;
  //    transform: scale(0);
  //  }
  //}

  &:active {
    background-color: #f7f7f7;
  }

  &:hover {
    border: 1px solid $btn-color;
    color: $btn-color;
  }

  &:focus{
    outline:0; // for chrome style purpose
  }

  &:disabled {
    background-color: #a5cbf3;
    cursor: not-allowed;
  }
}

.btn-primary {
  border: none;
  color: white;
  background-color: $btn-color;

  &:hover {
    color: white;
    border: none;
  }
  &:active {
    background-color: #6099d4;
  }
}

@media (max-width: 768px) {
  .btn {
    padding: 1px 8px;
  }
}