//source: https://codepen.io/dhanushbadge/pen/olsvi?limit=all&page=3&q=menu
$header-height: 41px;
$nav-color: #63c0d6;  //#63c0d6
$nav-color-hover: #afe3ff;

header {
  position: fixed;
  z-index: 3;
  top:0;
  left: 0;
  width: 100%;
  height: $header-height;
  background-color: white;
  box-shadow: 0 5px 10px 0 rgba(0,64,128,0.1);

  > a{
    float: left;
    margin: 4px 20px;
    font-size: 1.6em;
    color: $nav-color;
    letter-spacing: 1.2px;
    text-decoration: none;
  }
}

nav {
  ul, li {
    margin: 0;
	padding: 0;
  }
  ul {
	list-style: none;
	width: 100%;
  }
  li {
    float: right;
	position: relative;

    &:hover >a {
      color: $nav-color-hover;
    }

    &:hover ul.submenu {
      opacity: 1;
      transform: scaleY(1);
      top: 40px; /* adjust this as per top nav padding top & bottom comes */
    }
  }

  a {
	color: $nav-color;
	display: block;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
  }

}
.nav-user{
  >a{
    padding: 2px 20px;
  }
  img{
    width: 35px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
  }
}

.submenu {
  left: 0;
  top: -15px; // dropdown animation starting location
  opacity: 0;
  position: absolute;
  box-shadow: 0 5px 8px 2px #cccccc;
  z-index: 2;
  transform: scaleY(0);
  transition: transform .28s ease-out, top .28s ease-out;

  li {
    width: 100%;
  }
  a {
    background-color: white;
    &:hover {
      background-color: $nav-color;
      color: white;
    }
  }
}

.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 10px; /* demo only */

  select {
    background-color: #1abc9c;
    color: #fff;
    font-size: inherit;
    padding: .5em;
    padding-right: 2.5em;
    border: 0;
    margin: 0;
    border-radius: 3px;
    text-indent: 0.01px;
    text-overflow: '';
    -webkit-appearance: button; /* hide default arrow in chrome OSX */
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    pointer-events: none;
  }

  &::after { /*  Custom dropdown arrow */
    content: "\25BC";
    height: 1em;
    font-size: .625em;
    line-height: 1;
    right: 1.2em;
    top: 50%;
    margin-top: -.5em;

    color: rgba(0,0,0,.4);
  }

  &::before { /*  Custom dropdown arrow cover */
    width: 2em;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0 3px 3px 0;

    background-color: rgba(0,0,0,.15);
  }
}




@media (max-width: 768px) {
    header > a {
        display: none;
    }
}