//source: https://codepen.io/dhanushbadge/pen/olsvi?limit=all&page=3&q=menu
$header-height: 41px;
$nav-color: #63c0d6;  //#63c0d6
$nav-color-hover: #afe3ff;

header {
  position: fixed;
  z-index: 3;
  top:0;
  left: 0;
  width: 100%;
  height: $header-height;
  background-color: white;
  box-shadow: 0 5px 10px 0 rgba(0,64,128,0.1);

  > a{
    float: left;
    margin: 4px 20px;
    font-size: 1.6em;
    color: $nav-color;
    letter-spacing: 1.2px;
    text-decoration: none;
  }
}

nav {
  ul, li {
    margin: 0;
	padding: 0;
  }
  ul {
	list-style: none;
	width: 100%;
  }
  li {
    float: right;
	position: relative;

    &:hover >a {
      color: $nav-color-hover;
    }

    &:hover ul.submenu {
      opacity: 1;
      transform: scaleY(1);
      top: 40px; /* adjust this as per top nav padding top & bottom comes */
    }
  }

  a {
	color: $nav-color;
	display: block;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
  }

}
.nav-user{
  >a{
    padding: 2px 20px;
  }
  img{
    width: 35px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
  }
}

.submenu {
  left: 0;
  top: -15px; // dropdown animation starting location
  opacity: 0;
  position: absolute;
  box-shadow: 0 5px 8px 2px #cccccc;
  z-index: 2;
  transform: scaleY(0);
  transition: transform .28s ease-out, top .28s ease-out;

  li {
    width: 100%;
  }
  a {
    background-color: white;
    &:hover {
      background-color: $nav-color;
      color: white;
    }
  }
}

@media (max-width: 768px) {
    header > a {
        display: none;
    }
}