@import url('https://fonts.googleapis.com/css?family=Cabin');
@import '../shared/button';
@import '../shared/header';

html {
    h1,h2,h3,h4,h5,p,span,li,div,button,footer,a {
      font-family: 'Cabin', sans-serif;
    }
    margin:0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to left top, #f0f0f0, #ffffff);
}

main {
  padding-top: 100px;

  .canvas {
    width: 180px;
    margin: auto;
    padding: 10px;
    border: 1px solid darkgray;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 5px 20px 1.5px #cccccc;
  }
  .jscolor {
    height: 50px;
    width: 100%;
    border: 1px dashed darkgray;
    display: block;

    animation-name: boxAnim;
    animation-fill-mode: backwards;
    animation-duration: .6s;
    animation-delay: 0.05s;

    @keyframes boxAnim {
      0% {
        opacity: 0;
        height: 0;
      }
    }

    &:nth-child(1){
      border-radius: 4px 4px 0 0;
    }
    &:nth-child(4){
      border-radius: 0 0 4px 4px;
    }
  }

  .btnGrp {
    width: 146px;
    margin: 30px auto;
    //border: 1px solid red;
  }
}
